{% for message in chats %}
<div class="" style="text-align:right; padding:2px 5px;">
    {{message.msg_time}} {{message.username}}
    <p>
        <span class=""
            style="background-color: #28a7ab;color: #fff;margin: 1px 0;padding: 6px 12px; border-radius: 12px;">
            {{message.message}}</span>
    </p>
</div>
{% endfor %}