{% extends 'layout.html' %}

{% block body %}
<script>
    function ajax() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                document.getElementById('chats').innerHTML = req.responseText;
            }
        }
        req.open('POST', '/chats', true);
        req.send();
    }
    setInterval(function () { ajax() }, 10);
</script>

<div class="row" onload="ajax();">
    <div class="col-xs-1"></div>
    <div class="col-xs-9"
        style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 20px 40px 40px 40px;">
        <div id="chat-box"
            style="overflow-y: scroll; display: flex; flex-direction: column-reverse; height: 500px; width: 500px; padding: 10px 0px 0px 0px;">
            <div id="chats"></div>
        </div>
        {% from "includes/_formhelpers.html" import render_field %}
        <div>
            <form method="POST" action="">
                <div class="form-group">
                    {{render_field(form.message, class_="form-control", value="", placeholder="Enter your text...")}}
                </div>
                <button type="submit" class="btn btn-primary pull-right">Send</button>
            </form>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
{% endblock %}