{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard</h1>
  <br><br>
  {% if session.logged_in and session.permission == 0 %}
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Applications<span
        class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/process_application">User Applications</a></li>
      <li><a href="/process_item_info">Item Applications</a></li>
      <li><a href="/process_appeal">Process Appeal</a></li>
      <li><a href="/process_complaint">Process Complaint</a></li>
    </ul>
  </div>
  <br>
  <a class='btn btn-default' href="/list_users"> List Users </a>
  <br><br>
  <a class='btn btn-default' href="/transaction_stat"> Transaction Statistics </a>
  <br><br>
  <a class='btn btn-default' href="/list_taboo"> List Taboo </a>

  {% elif session.logged_in and session.permission == 1 %}
  <a class='btn btn-default' href="/personal_profile"> Personal Profile </a>
  <br><br>
  <a class='btn btn-default' href="/list_friends"> Friends </a>
  <br><br>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Purchased Overview<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/order_details">Order details</a></li>
    </ul>
  </div>
  <br>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" 
      type="button" data-toggle="dropdown">Selling Overview<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/sell_application">File application</a></li>
      <li><a href="/item_status">Item status</a></li>
      <li><a href="/sell_item">Sell an item</a></li>
      <li><a href="/sold_items">Sold</a></li>
      <li><a href="/unsold_items">Unsold</a></li>
    </ul>
  </div>
  <br>
  <a class='btn btn-default' href="/transaction_history"> Transaction History </a>
  <br><br>
  <a class='btn btn-default' href="/show_notifications"> Notifications </a>
  <br><br>
  <a class='btn btn-default' href="/suggest_taboo"> Suggest Taboo Words </a>
  <br><br>
  <a class='btn btn-default' href="/list_complaints"> Complaints </a>
  {% endif %}
{% endblock %}