{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<form method='POST' action=''>
    <div class='form-group' style='width: 25%'>
        {{render_field(form.receiver, class_="form-control", placeholder="Enter the username")}}
    </div>
    <div class='form-group'>
        {{render_field(form.body, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Send"></p>
</form>
{% endblock %}