{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<form method='GET' action='/products'>
  <div class='form-group' style='width: 75%'>
    {{render_field(form.search, class_="form-control")}}
  </div>
  <div class="form-group" style='width: 25%'>
  		<select name="filter" id="filter">
	    	<option value="title">Title</option>
	  		<option value="categories">Description</option>
	  		<option value="price">Price</option>
	  		<option value="rating">Rating</option>
	    </select>
      <div id="priceOption" style="display:none">
        <label>
          <input type="radio" name="priceOption" value="fixed"> Fixed
        </label>
        <label>
          <input type="radio" name="priceOption" value="ranged"> Ranged
        </label>
      </div>
  </div>
  <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
<script type="text/javascript">
  let filterOption = document.getElementById('filter');
  filterOption.addEventListener("change", () => {
    if (filterOption.value == 'price') {
      let priceOption = document.getElementById('priceOption');
      priceOption.style.display = 'inline';
    }  
  });
</script>
{% endblock %}