{% extends 'layout.html' %}

{% block body %}
<table class='table table-striped'>
    <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price Option</th>
        <th>Comment</th>
        <th>Status</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.title}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price_option}}</td>
        {% if item.status == 'rejected' %}
            <td>{{item.reason}}</td>     
        {% else %}
            <td></td>
        {% endif %}
        <td>{{item.status}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}