{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<form method='POST' action=''>
    <div class='form-group'>
        {{render_field(form.justification, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
{% endblock %}