{% extends 'layout.html' %}

{% block body %}
  <h1>Users: </h1>
  <table class='table table-striped'>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th></th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>
          <form action="{{url_for('delete_user', id=user.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}