{% extends 'layout.html' %}

{% block body %}
<h1>Taboo Words: </h1>
<a class='btn btn-primary' href="/suggest_taboo">Add</a>
<hr>
<table class='table table'>
    <tr>
        <th class="col-sm-8">Word</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for word in words %}
    <tr>
        <td>{{word.word}}</td>
        {% if word.status == 'pending' %}
        <td>
            <form action="{{url_for('approve_taboo', id=word.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Approve" class="btn btn-success">
            </form>
        </td>
        <td>
            <form action="{{url_for('delete_taboo', id=word.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Reject" class="btn btn-danger">
            </form>
        </td>
        {% else %}
        <td></td>
        <td>
            <form action="{{url_for('delete_taboo', id=word.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}