{% extends 'layout.html' %}

{% block body %}
<table class='table table-striped'>
    <tr>
        <th>Title</th>
        <th>Categories</th>
        <th>Quantity</th>
        <th>Price Option</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.title}}</td>
        <td>{{item.categories}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price_option}}</td>
        <td>
            <form action="{{url_for('delete_item', id=item.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}