{% extends 'layout.html' %}

{% block body %}
<h1>Friends: </h1>
<a class='btn btn-primary' href="/add_friend"> Add Friend </a>
<hr>
<table class='table table-striped'>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Relationship</th>
        <th></th>
        <th></th>
    </tr>
    {% for friend in friends_second %}
    <tr>
        <td>{{friend.user_second_id}}</td>
        <td>{{friend.username}}</td>
        {% if friend.relationship == 'first_request_second' %}
        <td>Requested</td>
        {% elif friend.relationship == 'second_request_first' %}
        <td>Pending</td>
        <td>
            <form action="{{url_for('approve_friend', id=friend.user_second_id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Approve" class="btn btn-success">
            </form>
        </td>
        <td>
            <form action="{{url_for('delete_friend', id=friend.user_second_id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Reject" class="btn btn-danger">
            </form>
        </td>
        {% elif friend.relationship == 'friend' %}
        <td>Friend</td>
        <td>
            <a class='btn btn-primary' href="/chatting/{{friend.user_second_id}}"> Message </a>
        </td>
        <td>
            <form action="{{url_for('delete_friend', id=friend.user_second_id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}

    {% for friend in friends_first %}
    <tr>
        <td>{{friend.user_first_id}}</td>
        <td>{{friend.username}}</td>
        {% if friend.relationship == 'second_request_first' %}
        <td>Requested</td>
        {% elif friend.relationship == 'first_request_second' %}
        <td>Pending</td>
        <td>
            <form action="{{url_for('approve_friend', id=friend.user_first_id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Approve" class="btn btn-success">
            </form>
        </td>
        <td>
            <form action="{{url_for('delete_friend', id=friend.user_first_id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Reject" class="btn btn-danger">
            </form>
        </td>
        {% elif friend.relationship == 'friend' %}
        <td>Friend</td>
        <td>
            <a class='btn btn-primary' href="/chatting/{{friend.user_first_id}}"> Message </a>
        </td>
        <td>
            <form action="{{url_for('delete_friend', id=friend.user_first_id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}