{% extends 'layout.html' %}

{% block body %}
<h1>Users: </h1>
<table class='table table-striped'>
    <tr>
        <th>Sender</th>
        <th>Comment</th>
        <th></th>
    </tr>
    {% for complaint in complaints %}
    <tr>
        <td>{{complaint.username}}</td>
        <td>{{complaint.body}}</td>
        <td>
            <form action="{{url_for('respond_complaint', id=complaint.sender)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Repond" class="btn btn-danger">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}