{% extends 'layout.html' %}

<style>
.center{
    text-align: center;
    border: 3px solid black;
}
</style>

{% block body %}
    <h1>{{notification.subject}}</h1>
    <b>From: {{notification.sender}}</b>
    <br>
    <b>Sent: {{notification.received_date}}</b>
    <hr>
    <p>{{notification.content}}</p>
    
{% endblock %}