{% extends 'layout.html' %}

{% block body %}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
    <table class='table table-striped'>
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price Option</th>
            <th>Price</th>
            <th>Status</th>
            <th>Seller Rating</th>
            <th></th>
        </tr>
    </thead>
    {% for item in items %}
    <tbody>
        <tr>
            <td>{{item.title}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price_option}}</td>
            <td>{{item.price}}</td>
            <td>{{item.status}}</td>
            {% if item.rating == none %}
                <td><form action="{{url_for('rate_seller', id=item.id)}}" method = "post">
                    <input type="submit" value="Rate Seller" class="btn btn-primary">
                    </form></td>
            {% else %}
                {% if item.rating == 0 %}
                    <td>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    </td>
                {% elif item.rating == 1 %}
                    <td>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    </td>
                {% elif item.rating == 2 %}
                    <td>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    </td>
                {% elif item.rating == 3 %}
                    <td>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star"></span>
                    <span class="far fa-star"></span>
                    </td>
                {% elif item.rating == 4 %}
                    <td>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="fas fa-star checked"></span>
                    <span class="far fa-star"></span>
                    </td>
                {% else %}
                    <td>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    </td>
                {% endif %}
            {% endif %}
            {% for complaint in complaints %}
                {% if complaint %}
                    <td></td>
                {% else %}
                    <td>
                        <form action="{{url_for('file_complaint', id=complaint.sender)}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="Repond" class="btn btn-danger">
                        </form>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}