{% extends 'layout.html' %}

{% block body %}
    <a class='btn btn-primary' href="/edit_profile">Edit Profile</a>
    <hr>
    <div>
        ID: {{session.id}}
        <hr>
        Name: {{profile.firstname}} {{profile.lastname}}
        <hr>
        Username: {{profile.username}}
        <hr>
        Email: {{profile.email}} 
        <hr>
        Phone Number: {{profile.phone_number}} 
        <hr>
        Address: {{profile.address}} {{profile.city}} {{profile.state}} {{profile.zipcode}}
        <hr>
        Credit Card Number: {{profile.credit_card_number}}
        <hr>
        Rating: {{profile.rating}}
    </div>
{% endblock %}