{% extends 'layout.html' %}

{% block body %}
<h1>Users: </h1>
<table class='table table-striped'>
    <tr>
        <th>Receiver</th>
        <th>Comment</th>
        <th></th>
        <th></th>
    </tr>
    {% for complaint in complaints %}
    <tr>
        <td>{{complaint.username}}</td>
        <td>{{complaint.body}}</td>
        {% if complaint.status == 'pending' %}
        <td>
            <form action="{{url_for('resolve_complaint', id=complaint.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Resolve" class="btn btn-danger">
            </form>
        </td>
        {% else %}
        <td>
            <form action="{{url_for('approve_complaint', id=complaint.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Approve" class="btn btn-danger">
            </form>
        </td>
        {% endif %}
        <td>
            <form action="{{url_for('reject_complaint', id=complaint.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Reject" class="btn btn-danger">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}