{% extends 'layout.html' %}

{% block body %}
<table class='table table-striped'>
    <tr>
        <th>Title</th>
        <th>Categories</th>
        <th>Price Option</th>
        <th>Seller</th>
        <th></th>
        <th></th>
    </tr>
    {% for application in applications %}
    <tr>
        <td>{{application.title}}</td>
        <td>{{application.categories}}</td>
        <td>{{application.price_option}}</td>
        <td>{{application.owner}}</td>
        <td>
            <form action="{{url_for('approve_item', id=application.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Approve" class="btn btn-success">
            </form>
        </td>
        <td>
            <form action="{{url_for('reject_item', id=application.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Reject" class="btn btn-danger">
            </form>
        </td>
    </tr>
    {% endfor %}
    {% endblock %}