{% extends 'layout.html' %}

{% block body %}
    <table class='table table-responsive'>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Credit Card Number</th>
      <th></th>
      <th></th>
    </tr>
    {% for application in applications %}
    <tr>
      {% if application.permission == 2 %}
      <td>{{application.id}}</td>
      <td>{{application.username}}</td>
      <td>{{application.email}}</td>
      <td>{{application.phone_number}}</td>
      <td>{{application.address}}</td>
      <td>{{application.credit_card_number}}</td>
      <td><form action="{{url_for('approve_application', id=application.id)}}" method = "post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Approve" class="btn btn-success">
        </form>
      </td>
      <td><form action="{{url_for('reject_application', id=application.id)}}" method = "post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Reject" class="btn btn-danger">
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
{% endblock %}