{% extends 'layout.html' %}

{% block body %}
<table class='table table-striped'>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Reason</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    {% for application in applications %}
    <tr>
        <td>{{application.id}}</td>
        <td>{{application.firstname}} {{application.lastname}}</td>
        <td>{{application.reason}}</td>
        <td>Pending</td>
        <td>
            <form action="{{url_for('approve_appeal', id=application.user_id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Approve" class="btn btn-success">
            </form>
        </td>
        <td>
            <form action="{{url_for('delete_user', id=application.user_id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
    </tr>
    {% endfor %}
    {% endblock %}