{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
	<form method='GET' action='/products'>
	  <div class='form-group' style='width: 75%'>
	    {{render_field(form.search, class_="form-control")}}
	  </div>
	  <div class="form-group" style='width: 25%'>
	  		<select name="filter">
		    	<option value="title">Title</option>
		  		<option value="description">Description</option>
		  		<option value="price">Price</option>
		  		<option value="3">Ratings</option>
		    </select>
	  </div>
	  <p><input type="submit" class="btn btn-primary" value="Search"></p>
	</form>
	{% for product in products %}
		<h3><a href="/products/{{ product.id }}">{{ product.title }}</a></h3>
		<p>{{ product.category }}</p>
		<img src="/static/img/{{ product.filename }}">
	{% endfor %}
{% endblock %}