{% extends 'layout.html' %}

{% block body %}
	<h3>{{ product.title }}</h3>
	<p>{{ product.categories }}</p>
	
	{% if product.highestBid == None %}
		<p>No bids at the current moment</p>
		<p><strong>Min Price: </strong>${{ product.min_price }}</p>
		<p><strong>Max Price: </strong>${{ product.max_price }}</p>
	{% else	%}
	<p><strong>Min Price: </strong>${{ product.min_price }}</p>
	<p><strong>Max Price: </strong>${{ product.max_price }}</p>
	<p><strong>Highest Bid: </strong>${{ product.highestBid }}</p>
	{% endif %}
	
	<p><strong>Seller: </strong>{{ product.owner }}</p>
	  	<form action="/products/{{ product.id }}" method="POST">
	  		<input type="text" name="bidPrice">
			<input type="submit" name="submit" value="Bid!">
		</form>
	
{% endblock %}