{% extends 'layout.html' %}

{% block body %}
	<h3>{{ product.title }}</h3>
	<p>{{ product.categories }}</p>
	<p>${{ product.price }}</p>
	<p><strong>Seller: </strong>{{ product.owner }}</p>
{% if product.status != 'pending' %}
  	<form action="/products/{{ product.id }}" method="POST">
		<input type="submit" name="buy"value="Buy Now!">
	</form>
{% endif %}
	
{% endblock %}