{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
    <div class="form-group" style='width: 25%'>
        {{ render_field(form.rating, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Apply">
  </form>
{% endblock %}