{% extends 'layout.html' %}

{% block body %}
<p>Fixed Price</p>
<table class='table table-striped'>
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Choose Buyer</th>
        </tr>
    </thead>
    <tbody>
        {% for fixed_item in fixed_items %}
            <tr>
                <td>{{fixed_item.title}}</td>
                <td>{{fixed_item.quantity}}</td>
                <td>{{fixed_item.price}}</td>
                <td><form action="sell.html" method = "get">
                    <input type="hidden" value={{fixed_item.id}} name="item_id">
                    <input type="submit" value="Choose Buyer" class="btn btn-primary">
                    </form></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Ranged Price</p>
{% endblock %}