{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<form method='POST' action='' enctype="multipart/form-data">
  <div class='form-group'>
    {{render_field(form.title, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 30%'>
    {{render_field(form.categories, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 15%'>
    {{render_field(form.quantity, class_="form-control")}}
  </div>
  <div id="price_option" class='form-group' style='width: 15%'>
    {{render_field(form.price_option, class_="form-control")}}
  </div>
  <div class='form-group' style="width: 15%;">
    {{render_field(form.min_price, class_="form-control")}}
    {{render_field(form.max_price, class_="form-control")}}
  </div>
  <div class='form-group' style="width: 15%;">
    {{render_field(form.price, class_="form-control")}}
  </div>
  <div class='form-group'>
    <label>Image</label>
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-default btn-file">
          <input type="file" id="imgInp" name="file">
        </span>
      </span>
    </div>
    <img id='img-upload' style="margin-top: 10px;" />
  </div>
  <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>

{% endblock %}