{% extends 'layout.html' %}

{% block body %}
<table class='table table-striped'>
    <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Item Ends</th>
        <th>Received</th>
    </tr>
    {% for notification in notifications %}
    <tr>
        <td>{{notification.sender}}</td>
        <td><a href="/show_notifications/{{ notification.id }}">{{notification.subject}}</td>
        <td>{{notification.item_ends}}</td>
        <td>{{notification.received_dates}}</td>
    </tr>
    {% endfor %}
    {% endblock %}