{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<form method='POST' action=''>
  <div class='form-group' style='width: 25%'>
    {{render_field(form.firstname, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 25%'>
    {{render_field(form.lastname, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 25%'>
    {{render_field(form.username, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 25%'>
    {{render_field(form.email, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 25%'>
    {{render_field(form.password, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 25%'>
    {{render_field(form.confirm, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 25%'>
    {{render_field(form.phone_number, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 25%'>
    {{render_field(form.credit_card_number, class_="form-control")}}
  </div>
  <div class='form-group' style='width: 15%'>
    {{render_field(form.expiration, class_="form-control", placeholder="MM/YY")}}
  </div>
  <div class='form-group' style='width: 10%'>
    {{render_field(form.cvc, class_="form-control", placeholder="CVC")}}
  </div>
  <div class="form-group" style='width: 25%'>
    {{ render_field(form.address, class_="form-control") }}
  </div>
  <div class="form-group" style='width: 25%'>
    {{ render_field(form.city, class_="form-control") }}
  </div>
  <div class="form-group" style='width: 25%'>
    {{ render_field(form.state, class_="form-control") }}
  </div>
  <div class="form-group" style='width: 25%'>
    {{ render_field(form.zipcode, class_="form-control") }}
  </div>
  <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
{% endblock %}