{% extends 'layout.html' %}

{% block body %}
<h1>Report a word</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="POST" action="">
    <div class="form-group" style='width: 25%'>
        {{ render_field(form.word, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Report">
</form>
{% endblock %}