<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>SimpleMY</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <p>
                You are suspended from the system due to illegal activities. You can choose
                to appeal or resign. If you choose to appeal, you will have to wait for 
                administrator's decision. If you choose to resign, you will be automatically
                removed from our system.
            </p>
            <form action="{{url_for('appeal')}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Appeal" class="btn btn-success">
            </form>
            <p></p>
            <form action="{{url_for('resign')}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Resign" class="btn btn-danger">
            </form>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></script>
    </body>
</html>
 