{% extends 'layout.html' %}

{% block body %}
    <h1>My Transaction History</h1>
    <hr>
    <div>
        Sold
        <hr>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Transaction ID</th>
                    <th>Transaction Time</th>
                    <th>Buyer</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Sold Price</th>
                </tr>
            </thead>
            <tbody>
                {% for transact in transact %}
                {% if transact.seller_id == session.id %}
                    <tr>
                        <td>{{transact.id}}</td>
                        <td>{{transact.time}}</td>
                        {% for users in users %}
                        {% if transact.buyer_id == users.id %}
                        <td>{{users.username}}</td>
                        {% endif %}
                        {% endfor %}
                        <td>{{transact.product_id}}</td>
                        {% for products in products %}
                        {% if transact.product_id == products.id %}
                        <td>{{products.title}}</td>
                        {% endif %}
                        {% endfor %}
                        <td>{{transact.quantity}}</td>
                        <td>{{transact.price}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <hr>
        Bought
        <hr>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Transaction ID</th>
                    <th>Transaction Time</th>
                    <th>Seller</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Bought Price</th>
                </tr>
            </thead>
            <tbody>
                {% for transact in transact %}
                {% if transact.buyer_id == session.id %}
                    <tr>
                        <td>{{transact.id}}</td>
                        <td>{{transact.time}}</td>
                        {% for users in users %}
                        {% if transact.seller_id == users.id %}
                        <td>{{users.username}}</td>
                        {% endif %}
                        {% endfor %}
                        <td>{{transact.product_id}}</td>
                        {% for products in products %}
                        {% if transact.product_id == products.id %}
                        <td>{{products.title}}</td>
                        {% endif %}
                        {% endfor %}
                        <td>{{transact.quantity}}</td>
                        <td>{{transact.price}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}