{% extends 'layout.html' %}

{% block body %}
    <h1>Transaction Statistics</h1>
    <hr>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
                <th>Transaction ID</th>
                <th>Seller ID</th>
                <th>Buyer ID</th>
                <th>Product ID</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Transaction Time</th>
        </tr>
        </thead>
    {% for stat in stat %}
        <tbody>
        <tr>
                <td>{{stat.id}}</td>
                <td>{{stat.seller_id}}</td>
                <td>{{stat.buyer_id}}</td>
                <td>{{stat.product_id}}</td>
                <td>{{stat.quantity}}</td>
                <td>{{stat.price}}</td>
                <td>{{stat.time}}</td>
        </tr>
        </tbody>
    {% endfor %}
    </table>
{% endblock %}
