{% extends 'layout.html' %}

{% block body %}
<table class='table table-striped'>
    <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price Option</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.title}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price_option}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}